<%- include("./partials/baseHeadPartial.ejs", {docTitle:"Drink Item"}) %>
<body>
    <h1>At foo bar</h1>
    <h2>
        <%= drink.name %>
    </h2>
    <img src="<%- drink.image.slice(0, drink.image.length - 4) %>.png" alt="Image of <%= drink.name %>">
    <h3>
        <%= drink.price %>
    </h3>
    <a href="/drinks">Back</a>
</body>
</html>