<%- include("./partials/baseHeadPartial.ejs", {docTitle:`Food Item: ${food.name}`}) %>
<body>
    <%- include("./partials/baseNavPartial.ejs") %>

    <h1>At foo bar</h1>
    <h2>
        <%= food.name %>
    </h2>
    <img src="<%- food.image.slice(0, food.image.length - 4) %>.png" alt="Image of <%= food.name %>">
    <h3>
        <%= food.price %>
    </h3>
    <a href="/food">Back</a>
</body>
</html>